* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: bold;
}

.preloader {
  width: 100%;
  height: 100%;
  position: relative;
  top: 20%;
  z-index: 9999;
  text-align: center;
}
.preloader h1 {
  margin: 20px;
  color: #faa53c;
  font-family: "Lobster", cursive;
  letter-spacing: 2px;
  font-size: 3rem;
}

#smoke {
  animation: smoke 2.5s linear infinite;
}

@keyframes smoke {
  100% {
    position: relative;
    z-index: -1;
    transform: translate(0, -50%);
  }
}

#hair {
  animation: hair 1s ease-in-out infinite alternate;
}

@keyframes hair {
  100% {
    transform: translate(0, 1%) rotateZ(-2.5deg);
  }
}

#spatula {
  transform-origin: center;
  transform-box: fill-box;
  transform: rotateZ(40deg) translateY(30%) translateX(10%);
  animation: spatula 1.5s infinite ease-in-out alternate;
}
.none {
  display: none;
}

@keyframes spatula {
  100% {
    transform: rotateZ(0deg) translateY(0) translateX(0);
  }
}
#patty1 {
  animation: patty1 1.5s ease-in-out infinite alternate;
  transform: translate(-30%, 0);
  z-index: 1;
}

@keyframes patty1 {
  100% {
    transform: translate(-30%, -30%);
  }
}

.intro {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.slider {
  background-color: rgb(163, 193, 207);
  width: 100%;
  height: 100%;
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(100%);
  justify-content: center;
  z-index: 4;
  align-items: center;
}
.slider .burger-click h1 {
  font-size: 20rem;
  cursor: pointer;
  transform: translateY(-10%);
}

.slider h1{
  font-family: "Lobster", cursive;
  font-size: 3rem;
}
.slider h2{
  font-size: 2rem;
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
}

.hide {
  background-color: black;
  overflow: hidden;
}
.hide .hide-text {
  transform: translateY(100%);
}

header {
  background-color: #0e6ad0;
  align-items: center;
  height: 10vh;
  margin: auto;
  display: flex;
}
nav {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
.logo {
  font-family: "Montserrat", sans-serif;
  flex: 2;
  padding: 1rem;
}

.nav-links {
  display: flex;
  list-style: none;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
  color: #333;
}

.nav-link {
  flex: 1;
  margin: 1rem;
  color: #424242;
  text-decoration: none;
}

.logo,
.nav-link {
  color: #52c4fd;
}

.bigger {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 450px;
  display: grid;
  margin: 10px;
  position: relative;
  border-radius: 30px;
  background-color: #faa53c;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 450px 450px;
}

.head {
  display: grid;
  grid-template-columns: 15fr 6fr;
  grid-template-rows: 6fr;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #0e60ad;
}
p {
  font-family: "Ubuntu", sans-serif;
}

.bigger .bottom h1,
p {
  color: #0e60ad;
  padding-left: 20px;
}

.bottom h1 {
  padding-top: 1rem;
  font-size: 2.6rem;
}

.bigger .top img {
  border-radius: 35px;
  margin: 10px;
  width: 90%;
  height: 400px;
}
.bottom p {
  line-height: 2rem;
  position: absolute;
  bottom: 40px;
  font-size: 1.6rem;
  font-weight: normal;
}

.smaller {
  display: grid;
}

.relish {
  position: absolute;
  top: 20px;
}

.smaller .food1,
.smaller .food2 {
  color: #0e60ad;
  margin: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  border-radius: 30px;
  background-color: #faa53c;
}

.food1 img,
.food2 img {
  width: 250px;
  height: 200px;
  grid-row: 1/3;
  grid-column: 1/2;
  border-radius: 35px;
  padding: 10px 10px 15px 20px;
}

.food1 h1,
.food2 h1 {
  font-size: 25px;
  position: absolute;
  right: 3rem;
  bottom: 4em;
  grid-row: 2/3;
}

.food1 h3,
.food2 h3 {
  font-size: 35px;
  font-family: "Ubuntu", sans-serif;
}

.food-collection {
  animation: slide-in 1s ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.food-collection .product1,
.food-collection .product2,
.food-collection .product3,
.food-collection .product4,
.food-collection .product5 {
  background-color: #52c4fd;
  border-radius: 30px;
  margin: 10px;
  transition: 1s;
  font-size: 1.2rem;
  align-items: center;
  display: grid;
  position: relative;
  border-radius: 30px;
  background-color: #52c4fd;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.food-collection .product2:hover,
.food-collection .product3:hover,
.food-collection .product4:hover {
  transform: perspective(350px) translate3d(10px, 0, 100px);
  box-shadow: 0 4px 8px 0;
  z-index: 1;
  margin: 15px;
}
.food-collection .product1:hover {
  transform: perspective(350px) translate3d(10px, 0, 100px);
  box-shadow: 0 4px 8px 0;
  z-index: 1;
  margin-left: 30px;
}
.food-collection .product5:hover {
  transform: perspective(350px) translate3d(10px, 0, 100px);
  box-shadow: 0 4px 8px 0;
  z-index: 1;
  margin-right: 60px;
}

.food-collection .food-emoji {
  grid-column: 1/2;
  font-size: 3rem;
  grid-row: 1/2;
}
.food-collection .food {
  font-size: 2rem;
  grid-column: 2/3;
}
.food-collection .desc {
  color: #0e60ad;
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

span.sub {
  font-size: xx-large;
}
img {
  height: 65vh;
  width: 40vh;
}

/* .featured-food {
  background-color: #faa53c;
  border-radius: 20px;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 30vh 45vh;
  display: grid;
  margin: 20px;
  position: relative;
}

.featured-food .food-image {
  padding-top: 2rem;
  margin-top: 1rem;
  grid-column: 1/2;
  grid-row: 1/3;
}
.featured-food .spice-rating, .featured-food .ingredients {
  font-size: 1.4rem;
  padding: 35px;
  margin: 10px;
  text-align: end;
}
.featured-food .name{
  grid-column: 1/4;
  grid-row: 1/2;
  padding-bottom: 10px;
  text-align: center;
}
.featured-food .ingredients{
  grid-row: 2/3;
  grid-column: 3/3;
}
.featured-food .ingredients ul{
  position: absolute;
  padding-right: 20px;
  align-items: center;
  line-height: 2rem;
  justify-content: space-around;
}
.featured-food .spice-rating{
  grid-row: 1/2;
  grid-column: 3/3;
  top: 2rem;
} */

.carousel-container {
  width: 50%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.carousel-slide {
  display: flex;
  position: relative;
  width: 100%;
  height: 500px;
}
.carousel-image {
  height: 500px;
  width: 100%;
}

.special{
  background: -webkit-linear-gradient(rgb(7, 136, 241), rgb(6, 252, 199));
  -webkit-background-clip: text;
  text-align: center;
  -webkit-text-fill-color: transparent;
  margin: 3rem;
  font-size: 4rem;
}

#prev-btn {
  color: black;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 2;
  left: 5%;
  font-size: 35px;
}

#next-btn {
  color: black;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 2;
  right: 5%;
  font-size: 35px;
}
